@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#login{
    color: white;
    border: 2px solid white;
    background-color: black;
    width: 65px;
    height: 30px;
    text-align: center;
    margin: 20px;
}
body{
    background-color: black;
} 
#area{
    overflow: scroll;
    
}